<nav class="">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">SweetSpot</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="black-text" href="/recipes">All Recipes</a></li>
      <li><a class="black-text" href="/recipes/new">Create</a></li>
      <% if (locals.isLoggedIn) { %>
        <li><a class="black-text" href="/logout">Logout</a></li>
        <li><a class="black-text" href="/users/<%= user._id %>"><%= user.username %></a></li>
      <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Sign Up</a></li>
      <% } %>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/recipes">All Recipes</a></li>
      <li><a href="/recipes/new">Create</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="#">Img</a></li>
    </ul>
  </div>
</nav>
