<% include ../partials/logo %>

<div class="section center-align">
  <h4>Put simply, we are a recipe exchange for all things sweet </h4>
</div>
<div class=" section center-align">
  <h5>Create, edit and post your recipes.
  <br>Check out other users' recipes.
  <br>Get inspired with our Yummly recipe search.
</h5>
</div>
<div class=" section center-align">
  <h5><a class="waves-effect waves-light btn " href="/register">Sign Up</a> or <a class="waves-effect waves-light btn "href="/recipes">Explore</a></h5>
</div>
