<h1>About</h1>
<h3>Put simply, we are a recipe exchange for all things sweet </h3>
<p>Create, edit and post your recipes.
Check out other users' recipes.
</p>
<a href="/register">Sign Up</a>
<a href="/recipes">Explore</a>
