<h1>Homepage</h1>


<a href="/register">Sign Up</a>
<a href="/login">Login</a>
<a href="/about">About</a>
<a href="/logout">Logout</a>


<div class="row">
  <% users.forEach((user) => { %>
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title"><%= user.username %></h4>
          <p class="card-text">
            <%= user.email %>
            <%= user.password %>
          </p>
        </div>
      </div>
    </div>
  <% }) %>
</div>
