
<% include ../partials/logo %>

<div class="row 2">
  <div class="col s4"></div>
  <div class=" col s4">
    <div class="row center-align">

        <div class=" center-align"><h2><a class="black-text" href="/login">Login</a></h2></div>
  </div>
    <div class=" center-align"><h2><a class="black-text" href="/register">Sign Up</a></h2></div>
    <div class="section center-align"><a class="black-text"  href="/about"><br>
      <h4>About<br> </h4></a></div>
  </div>
  <div class="col s4"></div>
</div>
