<div class="chocolate">
<% include ../partials/logo %>

<div class="row 2">
  <div class="col s4"></div>
  <div class=" col s4">
    <div class="row center-align">
    <a href= "/login"><button class="waves-effect waves-light btn" name="button">Login</button></a>
  </div>
    <div class=" center-align"><h5><a class="black-text" href="/register">Sign Up</a></h5></div>
    <div class="section center-align"><a class="black-text"  href="/about"><br>
      <h5>About<br> V </h5></a></div>
  </div>
  <div class="col s4"></div>
</div>
</div>
