<h1>Get some Inspiration!</h1>


<div class="inspirationLoad"></div>

<div class="yummlyRecipe">

  <div class="row1">
    <divclass="yummlyPhoto col s6"></div>
    <div class="yummlyName col s6"></div>
  </div>

  <div class="row2">
    <h3>Ingredients</h3>
    <divclass="yummlyIngredients col s6"></div>

    <h3>Method: Click to go to full Recipe</h3>
    <div class="yummlyMethod col s6"></div>

</div>




</div>
