<h1>All recipes</h1>


<% recipes.forEach(recipe => { %>
<div class="row">
  <div class="col s3">

  <div class="card indexPhotoFrame z-depth-3">
    <a href="/recipes/<%= recipe._id%>">
    <img src="<%= recipe.image %>">
    <p> <%= recipe.name %><p>
    <p><%= recipe.createdBy.username %></p>
  </div>


  </div>
</div>

  <%}); %>
