<% include ../partials/logo %>

<div class="section row ">
  <div class="col s12">
  <h4> What other SweetSpot Bakers have been whipping up in the Kitchen...</h4>
  </div>
</div>

<div class="row ">
  <% recipes.forEach(recipe => { %>
    <div class="col s12 m4 l3">
      <div class="indexPhotoFrame z-depth-3">
        <div class="indexPhoto">
          <a class="black-text" href="/recipes/<%= recipe._id%>">
          <img src="<%= recipe.image %>">
        </div>
        <div class="indexInfo">
          <p class="black-text"> <%= recipe.name %></p>
          <p class="black-text">By <%= recipe.createdBy.username %></p>
        </div>
      </div>
    </div>
  <%}); %>
</div>
