<h3>New Recipe</h3>

<form action="/recipes" method="post">
  <div>
    <div class="">


    <input type="text" name="name" value="name" name="recipe name" placeholder="Recipe Name">

    <input type="text" name="image" value="image" name="recipe image" placeholder="Image URL">

    <textarea name="description" placeholder="Short description of your product"></textarea>
    </div>

    <div class="">
    <input type="text" name="ingredient1" value="ingredient1" name="ingredient1" placeholder="ingredient1">

    <input type="text" name="ingredient2" value="ingredient2" name="ingredient2" placeholder="ingredient2">

    <input type="text" name="ingredient3" value="ingredient3" name="ingredient3" placeholder="ingredient3">

    </div>
    <div class="">
    <input type="text" name="step1" value="step1" name="step1" placeholder="step 1">

    <input type="text" name="step2" value="step2" name="step2" placeholder="step 2">

    <input type="text" name="step3" value="step3" name="step3" placeholder="step 3">
    </div>
  </div>
  <button type="button" name="button">Create Recipe</button>
</form>
