<% include ../partials/logo %>

<div class="row 1">
  <div class="col s2"></div>

  <div class="section col s8">
    <h1 class=" center-align">New Recipe</h1>

    <form action="/recipes" method="post">
      <div>
          <div class="row 2">
            <div class="col s6">
              <label for="name">Recipe Name</label>
              <input type="text" name="name" id="name" placeholder="Recipe Name">
            </div>
            <div class="col s6">
              <label for="image">Image</label>
              <input type="text" name="image" id="image" placeholder="Image URL">
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <label for="description">Short Description</label>
              <textarea name="description" placeholder="Short description of your product" id="description"></textarea>
            </div>

          </div>

        </div>

        <div class="row">
          <div class="col s6">
            <div class="ingredients">
              <label for="ingredient1">Ingredient 1</label>
              <textarea name="ingredient1" placeholder="ingredient1" id="ingredient1"></textarea>

              <label for="ingredient2">Ingredient 2</label>
              <textarea name="ingredient2" placeholder="ingredient2" id="ingredient2"></textarea>

              <label for="ingredient3">Ingredient 3</label>
              <textarea name="ingredient3" placeholder="ingredient3" id="ingredient3"></textarea>

            </div>
          </div>

          <div class="col s6">
            <div class="method">
              <label for="step1">Step 1</label>
              <textarea name="step1" placeholder="step1" id="step1"></textarea>

              <label for="step2">Step 2</label>
              <textarea name="step2" placeholder="step2" id="step2"></textarea>

              <label for="step3">Step 3</label>
              <textarea name="step3" placeholder="step3" id="step3"></textarea>
            </div>
          </div>

        </div>


      <div class="row center-align">
        <button class="waves-effect waves-light btn" type="submit" name="button">Create Recipe</button>
      </div>

    </form>

  </div>
  <div class="col s2"></div>
</div>
