<h3>New Recipe</h3>

<form action="/recipes" method="post">
  <div>
    <div class="">

      <label for="name">Recipe Name</label>
      <input type="text" name="name" value="name" id="name" placeholder="Recipe Name">

      <label for="image">Image</label>
      <input type="text" name="image" value="image" id="image" placeholder="Image URL">

      <label for="description">Short Description</label>
      <textarea name="description" placeholder="Short description of your product" id="description"></textarea>
    </div>

    <div class="ingredients">
      <label for="ingredient1">Ingredient 1</label>
      <textarea name="ingredient1" placeholder="ingredient1" id="ingredient1"></textarea>

      <label for="ingredient2">Ingredient 2</label>
      <textarea name="ingredient2" placeholder="ingredient2" id="ingredient2"></textarea>

      <label for="ingredient3">Ingredient 3</label>
      <textarea name="ingredient3" placeholder="ingredient3" id="ingredient3"></textarea>

      <%# <label for="ingredient4">Ingredient 4</label>
      <textarea name="ingredient4" placeholder="ingredient4" id="ingredient4"></textarea>

      <label for="ingredient5">Ingredient 5</label>
      <textarea name="ingredient5" placeholder="ingredient5" id="ingredient5"></textarea>

      <label for="ingredient6">Ingredient 6</label>
      <textarea name="ingredient6" placeholder="ingredient6" id="ingredient6"></textarea>%>

  </div>
  <div class="method">
    <label for="step1">Step 1</label>
    <textarea name="step1" placeholder="step1" id="step1"></textarea>

    <label for="step2">Step 2</label>
    <textarea name="step2" placeholder="step2" id="step2"></textarea>

    <label for="step3">Step 3</label>
    <textarea name="step3" placeholder="step3" id="step3"></textarea>
  </div>
</div>
<button type="submit" name="button">Create Recipe</button>
</form>
